<div class="jumbotron jumbotron-modified">
    <div class="container box">
        <h1>Make cash from ads!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p>Lorem ipsum dolor sit amet, mel no vocibus fuisset. Atqui tritani pro cu. Iusto decore ei sed. Vocent aliquam democritum per eu, quo te sale omnium diceret. Sit zril discere delenit ex, dicam erroribus dissentiunt id eum.</p>
        <br><p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">

    </div>
</div>