<div class="jumbotron jumbotron-modified">
    <div class="container box">
        <h1>Make cash from ads!</h1>

        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>

        <p>Lorem ipsum dolor sit amet, mel no vocibus fuisset. Atqui tritani pro cu. Iusto decore ei sed. Vocent
            aliquam
            democritum per eu, quo te sale omnium diceret. Sit zril discere delenit ex, dicam erroribus dissentiunt
            id
            eum.</p>
        <br>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container ">
    <div class="panel panel-body no-padding-bottom ">
        <div class="col-md-4 no-padding-top padding-bottom ">
            <h2>Decouvrez +</h2>
            <button class="btn btn-primary col-md-6"><i class="ion-cube"> Nos offres</i> </button>
        </div>
        <div class="col-md-4 no-padding-top padding-bottom">
            <h2>Suivez nous !</h2>

            <div class="h2 socialmedia col-sm-offset-1">
                <a href="https://twitter.com/"> <span class="ion-social-twitter"></span></a>
                <a href="https://www.facebook.com/"> <span class="ion-social-facebook col-sm-offset-1"></span></a>
                <a href="https://plus.google.com/"> <span class="ion-social-googleplus col-sm-offset-1"></span> </a>
            </div>
        </div>
        <div class="col-md-4 no-padding-top padding-bottom ">
            <h3>Privacy & Term of use</h3>
            <div class=" privacy col-sm-offset-1"><a href="/privacy" class="btn btn-primary col-md-8"><i class="ion-ios-paper "> Check them</i></a></div>

        </div>
    </div>
</div>