<div class="container">
  <div class="row">
    <div class="center-form panel modified-panel">
        <div class="panel-body">
          <h2 class="text-center">Connexion</h2>
          <form method="post" ng-submit="login()" name="loginForm">
            <div class="form-group has-feedback">
              <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
              <span class="ion-at form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
              <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
              <span class="ion-locked form-control-feedback"></span>
            </div>

            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-block btn-success">Connexion</button>

            <br/>

            <p class="text-center">
              <a href="#">Mot de passe oublié?</a>
            </p>

            <p class="text-center text-muted">
              <small>Vous n'avez pas encore un compte ?<a href="/signup">S'inscrire</a></small>
            </p>

            <div class="signup-or-separator">
              <h6 class="text">or</h6>
              <hr>
            </div>

            <button class="btn btn-lg btn-block btn-facebook" ng-click="facebookLogin()"><span class="ion-social-facebook"></span>Inscription avec Facebook</button>
            <button class="btn btn-lg btn-block btn-google-plus" ng-click="googleLogin()"><span class="ion-social-googleplus"></span>Inscription avec Google</button>
          </form>
        </div>
    </div>
  </div>
</div>