<nav class="navbar navbar-inverse modified-nav ">
    <ul class="nav navbar-nav modify">
        <li data-match-route="/form"><a href="/form">Information personnelles</a></li>
        <li data-match-route="/Mode-de-vie"><a href="/Mode-de-vie">Mode de vie et santé</a></li>
        <li data-match-route="/High-Tech"><a href="/High-Tech">High Tech</a></li>
        <li data-match-route="/Internet et opérateurs téléphoniques"><a
                href="/Internet et opérateurs téléphoniques">Internet & opérateurs</a></li>
        <li data-match-route="/Sports"><a href="/Sports">Sports pratiqués et regardés</a></li>
        <li data-match-route="/Cosmétique"><a href="/Cosmetique">Cosmétique </a></li>
        <li data-match-route="/Mode"><a href="/Mode" class="act">Mode & style</a></li>
        <li data-match-route="/Habitation"><a href="/Habitation">Habitation</a></li>
        <li data-match-route="/Boissons"><a href="/Boissons">Boisson</a></li>
        <li data-match-route="/Transport"><a href="/Transport">Transport</a></li>
      </ul>
</nav>
<div class="container">
    <div class="panel-body">
        <div ng-controller="modeCtrl">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Mode & Style</h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" ng-submit="info()" name="infoForm">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <input class="btn btn-lg btn-block btn-primary" type="submit" ng-click="info()" value="Enregistrer" ng-disabled="infoForm.$invalid" schema="UserSchema"/>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
