<div class="container">

    <div class="panel-body">
        <div ng-controller="ProfileCtrl">
            
            <h3>Videos</h3>
            <br>
            <div id="vWrapper">
                <div class="row">
                    <div class="col-md-4" ng-repeat="video in videos track by $index">
                        <img id="imgW" src="images/bg.png" width="400" height="280" ng-click="openVideo(video)"/>
                        <youtube src="video" height="heightVideo" width="widthVideo"></youtube>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <h3>Images</h3>
            <br>
            <div id="aWrapper">
                <div class="row">
                    <div class="col-md-4" ng-repeat="annonce in ann track by $index">
                        <img id="imgA" ng-src="{{annonce}}" width="{{ widthImage }}" height="{{ heightImage }}"
                             ng-click="open(annonce)"/>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="firstDialog">
                <a href="https://www.apple.com/tn/iphone-6/"  target="_blank"  ng-click="donate()">
                    <img ng-src="{{ pub }}" width="{{ widthDialogImage }}" height="{{ heightDialogImage }}"/>
                </a>
                <div class="ngdialog-buttons mt">
                    <button type="button" class="ngdialog-button ngdialog-button-primary">Ok</button>
                </div>
            </script>

            <script type="text/ng-template" id="secondDialog">
                <youtube src="pubVideo" height="heightDialogVideo" width="widthDialogVideo" ng-click="donate()"></youtube>
                <div class="ngdialog-buttons mt">
                    <button type="button" class="ngdialog-button ngdialog-button-primary">Ok</button>
                </div>
            </script>

        </div>
    </div>
</div>