<div class="container">

    <div class="panel-body">
        <div ng-controller="ProfileCtrl">

            {{url}}


            <h3>Videos</h3>
            <br>
            <div id="vWrapper">
                <div class="row">
                    <div class="col-md-4" ng-repeat="video in videos | filter:{ check: false }">
                        <img id="imgW" src="images/bg.png" width="380" height="280" ng-click="openVideo(video.url)"/>
                        <youtube-video video-url="video.url" player-width="widthVideo" player-height="heightVideo" player-vars="playerVars"></youtube-video>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <h3>Images</h3>
            <br>
            <div id="aWrapper">
                <div class="row">
                    <div class="col-md-4" ng-repeat="annonce in ann track by $index">
                        <img id="imgA" ng-src="{{annonce.url}}" width="{{ widthImage }}" height="{{ heightImage }}"
                             ng-click="open(annonce)"/>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="firstDialog">
                <a href="{{lien}}"  target="_blank"  ng-click="donate()">
                    <img ng-src="{{ pub }}" width="{{ widthDialogImage }}" height="{{ heightDialogImage }}"/>
                </a>
                <div class="ngdialog-buttons mt">
                    <button type="button" class="ngdialog-button ngdialog-button-primary">Ok</button>
                </div>
            </script>

            <script type="text/ng-template" id="secondDialog">
                <img id="imgWS" src="images/bg.png" width="1170" height="550" ng-click="player.playVideo()"/>
                <youtube-video video-url="pubVideo" player-width="widthDialogVideo" player-height="heightDialogVideo"
                         player="player" player-vars="playerVars" ng-click="donate()"></youtube-video>
                <div class="ngdialog-buttons mt">
                    <button type="button" class="ngdialog-button ngdialog-button-primary">Ok</button>
                </div>
            </script>

        </div>
    </div>
</div>