<div class="container">

    <div class="panel-body">
        <div ng-controller="ProfileCtrl">

            <div id="aWrapper">
                <ul class="aList">
                    <li ng-repeat="annonce in ann track by $index">
                        <img ng-src="{{annonce}}" width="300" height="220" ng-click="open(annonce)"/>
                    </li>
                </ul>
            </div>
            <br>
            <div id="vWrapper">
                <ul class="vList">
                    <li ng-repeat="video in videos track by $index">
                        <youtube src="video"></youtube>
                    </li>
                </ul>
            </div>


            <script type="text/ng-template" id="firstDialog">
                    <img ng-src="{{ pub }}" width="500" height="400"/>
                <div class="ngdialog-buttons mt">
                    <button type="button" class="ngdialog-button ngdialog-button-primary" >?</button>
                </div>
            </script>

        </div>
    </div>
</div>
