<div class="container">
    <div class="panel-body">
        <div ng-controller="SearchCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Ajouter une annonce</h2>
                </div>
                <div class="panel-body">

                    <form class="form-horizontal" name="searchForm" id="myForm">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label class="col-sm-3">Titre de l'annonce publicitaire</label>

                                    <div class=" col-sm-9">
                                        <input class="form-control" type="text" name="name" ng-model="name"
                                               placeholder="Saisissez le titre de l'annonce publicitaire" required>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form-group">
                                    <label class="col-sm-3">Les cibles de l'annonce</label>

                                    <div class="col-sm-3">
                                        <select ng-model="temporary.name">
                                            <option ng-repeat="cibbb in cibleAn" value="{{cibbb.name}}">{{cibbb.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div ng-repeat="cibbb in cibleAn">
                                        <div ng-if="cibbb.name == temporary.name" class="col-sm-6">
                                            <div ng-repeat="theoption in cibbb.array">
                                                <div class="radio">
                                                    <input type="radio" name="cat" value="{{theoption}}" ng-model="select.cible"> {{theoption}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form-group">
                                    <label class="col-sm-3">Marque du produit de l'annonce publicitaire</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="marque" ng-model="marque"
                                               placeholder="Saisissez la marque du prduit de l'annonce publicitaire"
                                               required>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form-group">
                                    <label class="col-sm-3">Budget</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" type="number" name="budget" ng-model="budget"
                                               placeholder="Saisissez votre budget pour cette annonce" min="100" max="1000000"
                                               required>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="form-group">
                                    <label class="col-sm-3">choisissez le type de l'annonce</label>

                                    <div class="col-sm-9">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="type" value="image" ng-model="selection"
                                                       required>
                                                Image
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="type" value="video" ng-model="selection"
                                                        required>
                                                Video
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="selection == 'image'">
                                    <label class="col-sm-3">Ajouter une image:</label>

                                    <div class="col-sm-9">
                                        <input type="file" name="file" accept="image/*" image="image"
                                               onchange="angular.element(this).scope().fileNameChanged(this)" required/>
                                    </div>
                                </div>

                                <div class="form-group" ng-show="selection == 'image'">
                                    <label class="col-sm-3">Ajouter l'URL de l'annonce:</label>

                                    <div class="col-sm-9">
                                        <input type="url" class="form-control" name="url" ng-model="url" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="selection == 'video'">
                                    <label class="col-sm-3">Ajouter l'URL de la video:</label>

                                    <div class="col-sm-9">
                                        <input type="url" class="form-control" name="url" ng-model="url" required>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <input class="btn btn-lg btn-block btn-primary" type="submit" ng-click="imag()"
                                       value="Enregistrer" ng-disabled="searchForm.$invalid" schema="imageSchema"/>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
