<div class="container">
  <div class="row">
    <div class="center-form panel modified-panel">
      <div class="panel-body">
        <form method="post" ng-submit="signup()" name="signupForm">
          <h2 class="text-center">Inscription</h2>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.fullName.$invalid && signupForm.fullName.$dirty }">
            <input class="form-control input-lg" type="text" name="displayName" ng-model="displayName" placeholder="Name" required>
            <span class="ion-person form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.fullName.$dirty" ng-messages="signupForm.fullName.$error">
              <div ng-message="required">Vous devez saisir votre nom.</div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
            <input unique-email class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
              <div ng-message="required">Votre adresse mail est obligatoire.</div>
              <div ng-message="email">Votre adresse mail est invalide.</div>
              <div ng-message="unique"><span class="ion-looping"></span> Cette adresse semble être associée à un autre compte. </div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-locked form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
              <div ng-message="required">Mot de passe est obligatoire.</div>
            </div>
          </div>

          <div class="form-group">
              <label class="col-sm-6 " id="modified-label" >Vous êtes:</label>
              <div class="col-sm-6">
              <div class="radio">
                  <input type="radio" value="Annonceur" name="type">Annonceur
              </div>
              <div class="radio">
                  <input type="radio" value="Client" name="type" checked="checked">Client
              </div>
              </div>
          </div>

          <p class="text-center text-muted"><small>En cliquant sur Inscription, vous acceptez nos  <a href="#">Conditions d'utilisation</a> et indiquez que vous avez lu notre <a href="#">Politique d’utilisation des données</a></small></p>

          <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button>
          <br/>

          <p class="text-center text-muted">Vous possédez déjà un compte? <a href="/login">Connexion</a></p>
        </form>
      </div>
    </div>
  </div>
</div>