<div class="container">
    <div class="panel-body">
        <div class="panel panel-default no-padding-bottom no-padding-top">
            <div class="panel-heading ">
                <h2 class="panel-title ">Nombre d'annonces/ categorie</h2>
            </div>
            <div class="panel-body">
                <canvas id="doughnut" class="chart-base" chart-type="type" click="toggle" data="pubCount"
                        labels="catNames"></canvas>
            </div>
        </div>

        <div class="panel panel-default no-padding-bottom no-padding-top">
            <div class="panel-heading ">
                <h2 class="panel-title ">Nombre d'annonces/ Mois</h2>
            </div>
            <div class="panel-body">
                <canvas  class="chart chart-line" data="NbMoisS"
                        labels="Mois"></canvas>
            </div>
        </div>
    </div>
</div>