img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

img.displayed:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 390px;
}

#aWrapper {
    width: 1100px;
    overflow: auto;
    opacity: 0.9;
}
#vWrapper{
    width: 1100px;
    overflow: auto;
    opacity: 0.9;
}

#imgW{
    position: absolute;
    opacity: 0;
}

.aList{
    white-space: nowrap;
    margin: 0px;
}
.aList li {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    list-style-type: none;
    cursor: pointer;
}
.aList li:hover{
    opacity: 0.5;
}

.vList{
    white-space: nowrap;
    margin: 0px;
}

.vList li {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    list-style-type: none;
    cursor: pointer;
}

